/java/ciclos1A/nbproject/private/
/java/ciclos1A/build/
/java/ciclo1B/nbproject/private/
/java/ciclo1B/build/
/java/ciclo1C/nbproject/private/
/java/ciclo1C/build/
/java/ciclo1D/nbproject/private/
/java/ciclo1D/build/
