<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <ul class="header-list">
            <li class="header-list_items">Premium</li>
            <li class="header-list_items">Support</li>
            <li class="header-list_items">Download</li>
            <li class="header-list_items">Sign up</li>
            <li class="header-list_items">Log in</li>
        </ul>
    </header>
    <main class="main-container">
        <section>
            <h2>Energia positiva para tu lugar</h2>
        </section>
    </main>
</body>
</html>