<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="#" target="_blank" class="logo">LOGO</a>
        <ul class="header-list">
            <li class="header-list_items">Contatos</li>
            <li class="header-list_items">Compras</li>
            <li class="header-list_items">Blog</li>
        </ul>
        <input type="submit" value="Contactame">
    </header>
    <main class="main">
        <section class="section-aside">
            <aside class="main-aside">
                <ul class="aside-list">
                    <li class="aside-list_items"></li>
                    <li class="aside-list_items"></li>
                    <li class="aside-list_items"></li>
                    <li class="aside-list_items"></li>
                    <li class="aside-list_items"></li>
                </ul>
            </aside>
            <article class="parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora vel voluptate eos ipsa vero nesciunt distinctio consequatur. Dicta, quas ducimus doloremque architecto molestiae rerum, est consectetur quis ipsam molestias hic.
            Nulla quos provident facere exercitationem ut. Voluptatum laudantium cupiditate earum nulla. Culpa, delectus aut. Adipisci laboriosam voluptates est ea! Vel quae sapiente ducimus blanditiis ullam aliquid quis neque, dolore ut!
            Excepturi, explicabo! Suscipit accusantium, optio ducimus repellat rem eius error, nisi aliquam at neque esse delectus natus iste laudantium iure incidunt perferendis! Perspiciatis magni officia cum sunt neque. Atque, quidem!
            Doloremque, laborum corrupti eaque recusandae quasi adipisci repellat animi provident ea unde dolor distinctio dicta repudiandae facere quo illo, earum voluptatum voluptates possimus. Sapiente dolores sit, sequi quisquam omnis distinctio.
            Esse, nam reprehenderit excepturi dolorem temporibus dolores eaque debitis libero beatae animi corporis, inventore repudiandae, omnis explicabo voluptates voluptatibus tempore minus quas quisquam dicta iure officiis sed iste! Eaque, numquam.</article>
        </section>
        <footer class="footer">
            <p>footer</p>
        </footer>
       
    </main>
</body>
</html>