<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cabecera">
        <h1 class="cabecera-logo">Logo</h1>
        <ul class="cabecera-list">
            <li class="cabecera-list_items">Home</li>
            <li class="cabecera-list_items">Cursos</li>
            <li class="cabecera-list_items">Introduccion</li>
            <li class="cabecera-list_items">Blog</li>
        </ul>
    </header>
    <main class="main-contenedor">
        <section class="one-section">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero odio ad odit architecto. Fugiat, tempora laborum? Iste, laudantium pariatur voluptatem assumenda voluptatum veniam, obcaecati harum eligendi aliquid, quidem vero sed!
                Consectetur deserunt iusto debitis natus, molestiae nostrum quis ullam animi voluptate, qui laudantium aspernatur ipsam praesentium expedita id ut vero sapiente consequuntur modi! Fugiat eaque expedita itaque vel vitae sunt.
                Earum, dolorum placeat? Sed, laudantium ex? Similique distinctio magnam accusamus suscipit fuga reprehenderit laboriosam. Minima necessitatibus, repudiandae eius esse soluta illo consequatur iusto corporis harum pariatur, repellendus est dolorem modi?
                Voluptatum dolor soluta quo, delectus sint voluptate obcaecati cum libero voluptates iure? Et reprehenderit sunt inventore quod nisi a fugiat, repellendus totam! Odit fugit saepe aut ex, maxime id tempore!
            </p>
        </section>
        <p class="piedepagina"></p>
    </main>
</body>
</html>