*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main:first-child{
    border: 2px solid rosybrown;
    padding: 20px 0px 20px 30px;
}

section h1{
    font-family: 'Courier New', Courier, monospace;
}
h1::before{
    content: " 👾";
}
h1:hover{
    color: blueviolet;
    font-size: 50px;
}
h1::selection{
    color: antiquewhite;
    background-color: black;
}