*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: inherit;
}
p{
    font-size: inherit;
}
